/* /* [data-id *='f'] {
    color:red;
} */

/* .text {
    color: green
} */

/* div ~ p {
    color:pink
}

p::first-line {
    content: '';
    color: red;
} */

/* tr:nth-child(odd) {
    background-color: antiquewhite;
}

tr:nth-child(even) {
    background-color: blue;
} */


/* .css-precedence {
    color: green;
}

[data-id="text-value"] {
    color: blue;
}

#text-id {
    color: pink
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
  margin: 15px;
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
  
/*}*/

/*.parent div {
   
}
 */


:root {
    font-size: 20px;
}

 .text-container {
    font-size: 1em;
 }

 .text {
    font-size: 2rem;
 }